	<nav class="navbar navbar-inverse navbar color">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      	<a class="navbar-brand" href="#/home">Hello {{$storage.username}}</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <div class="navbar-form navbar-right">
	        <a href="#/new">
	        	<div ng-controller="UsersController">
	        		<a href="#/"><button type="submit" class="btn btn-success btn logOut button hvr-underline-from-center" ng-click="logout()">Logout</button></a>
	        		<a href="#/{{$storage.userId}}">
	        			<button type="submit" class="btn btn-success btn logOut button hvr-underline-from-center">Settings</button>
	        		</a>
	        	</div>
	        </a>
	      </div>
	    </div><!--/.navbar-collapse -->
	  </div>
	</nav>	

<div class="container"> 
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h3>{{success}}</h3>
			<h2 class="text-center">Welcome {{$storage.username}}!</h2>
			<p class="text-center">Let's tell your contacts you're on the way.</p>
			<h3>What is your current location?</h3>
			<input type="text" class='form-control' ng-model='newMessage.location'>
			<h3>What route are you taking?</h3>
			<p>(psst, providing route will give estimate travel time based on WSDOT data)</p>
			<select name="contacts" class='form-control' ng-model='newMessage.TravelTimeId'>
				<option value="44">Seattle to Seatac</option>
				<option value="43">Seatac to Seattle</option>
				<option value="92">Seattle to Bellevue</option>
				<option value="89">Bellevue to Seattle</option>
				<option value="45">Bellevue to Renton</option>
				<option value="275">Renton to Bellevue</option>
			</select>
			<h3>What's your ETA?</h3>
			<input type="text" class='form-control' ng-model='newMessage.eta'>
			<h3>Which contact do you want to alert?</h3>
 			<!--ng repeat for contacts in db goes here -->
			<select name="contacts" class='form-control' ng-model='newMessage.contact'>
				<option ng-repeat='contact in current_user.contacts'>{{contact.full_name}}</option>
			</select>
			<br>
			<button class='btn brownButton pull-right hvr-underline-from-center' ng-click='create(newMessage)'>Alert!</button>
		<!-- 	<button ng-click="test()">Test</button> -->
		</div>
		<div class="col-md-4"></div>
	</div>
</div>	 
 
 			 