	<nav class="navbar navbar-inverse navbar color">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      	<a class="navbar-brand" href="#/">I'm OnMyWay</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <div class="navbar-form navbar-right">
	      </div>
	    </div><!--/.navbar-collapse -->
	  </div>
	</nav>	

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-6 form">
			<h1>Login</h1>
			<p ng-bind='error'></p>
			<form id='form'>
				<p>Email:<input type="text" class='form-control' ng-model='user.email'></p>
				<p>Password:<input type="password" class='form-control' ng-model='user.password'></p>					
				<br>
				<button class='btn btn login hvr-underline-from-center' ng-click='login(user)'>Login</button>
				<a href="#/register" id="register"><button class='btn btn brownButton hvr-underline-from-center'>Register</button></a>
			</form>
		</div>			
	</div>
</div>
 
 